@font-face {
  font-family: "cambriaMath-load";
  src: url(../fonts/cambriaMath.woff) format("woff"),
       url(../fonts/cambriaMath.woff2) format("woff2");
}
@font-face {
  font-family: "ACBoucle-load";
  src: url(../fonts/ACBoucle.woff) format("woff"),
  url(../fonts/ACBoucle.woff2) format("woff2");
}
@font-face {
  font-family: "georgiaz-load";
  src: url(../fonts/georgiaz.woff) format("woff"),
  url(../fonts/georgiaz.woff2) format("woff2");
}